streamlit
langchain
langchain_community
langchain_groq
langchain_google_genai
langchain_huggingface
faiss-cpu
rank_bm25
sentence-transformers
youtube-transcript-api>=0.6.0
pytube
yt-dlp
openai-whisper
python-dotenv
pandas
numpy
tqdm
scikit-learn
langsmith
